<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
    <textarea type="text" id="id_user"></textarea>
    <div class="wrapper">
        <div id="historyContainer">
            <button id="showHistoryButton" class="title__general">History</button>
            <article class="history scrollbar__general" id="historyList" style="display: none" >
                <ul class="history__list flex__general list__general" id="history">
                    <li class=" title__general"><span class="history__info">History</span></li>
                    <!-- QUESTION_HISTORY -->
                </ul>
            </article>
        </div>
        
        <section class="ai">
            <div class="ai__inner container__general scrollbar__general">
                <ul class="ai__list flex__general list__general">
                    <li class="ai__answer_label" id="ai_label">
                        <span class="badge bg-primary mb-2">
                            Village Dummy Joe
                        </span>
                        <br>
                            Hello! Please ask me a question to get started! The more descriptive the question, the better answer you get.
                    </li>
                    <li>
                        <span class="badge bg-secondary mb-2">User</span>
                        <br>
                        <div class="ai__search" id="ai__search">   
                            <textarea id="multilineInput" rows="1" style="height: auto" class="ai__input" maxlength="500" placeholder="Ask me anything"></textarea>
                            <div style="border-radius: 10px;">
                                <button class="ai__button right" type="submit" id="ai_submit">
                                    &#129122;
                                </button>
                                <div id="charCount">0 / 500</div>
                            </div>
                        </div>
                        <div  id='ai_user_search'>

                        </div>
                    </li>
                    <li id ="ai_answer_list" style= "display: none;">
                        <span id="ai_answer_badge" class="badge bg-primary mb-2">Village Dummy Joe</span><br>
                        <p id ="ai__answer"></p>
                        <div id="ai_update"><button class="ai__button left">&#10227;</button></div>
                    </li>
                    <li></li>
                </ul>
            </div>
        </section>
        <div class="api">
            <button class="ai__login title__general">Sing in</button>
            <div class="ai__twoapi">
                <div id="random__fact__label" style="display: none;">
                    <span class="badge bg-dark-orange mb-2">Random fact</span>
                     <span id="random__fact"></span>
                </div>   
            </div>
        </div>
    </div>
    <script src="js/script.js"></script>
</body>
</html>