<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/svg" href="images/logo.svg">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
    <div class="container">
        <h2>Login</h2>
        <form id="loginForm">
            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="extra-links">
                <a href="/register">Sign up</a>
                <a href="/">Skip for now</a>
            </div>
            <div>
                <button type="submit">Login</button>
            </div>
        
        </form>
    </div>
    <script src="js/login.js"></script>
</body>
</html>
